 @if(service.projectMetaData){
   <section  class="max-w-3xl mx-auto mt-10 bg-gray-900 text-white p-6 rounded-xl shadow border border-gray-700">
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">Project Metadata</h2>
  
    <div class="space-y-6">
  
      <!-- Project Name -->
      <div class="bg-gray-800 p-4 rounded-lg border border-gray-700">
        <h3 class="text-lg font-semibold text-yellow-300">Project Name</h3>
        <p class="text-slate-300 mt-1">{{ service.projectMetaData.probableProjectName }}</p>
      </div>
  
      <!-- Project Type -->
      <div class="bg-gray-800 p-4 rounded-lg border border-gray-700">
        <h3 class="text-lg font-semibold text-yellow-300">Project Type</h3>
        <p class="text-slate-300 mt-1">{{ service.projectMetaData.projectType }}</p>
      </div>
  
      <!-- Technologies Used -->
      <div class="bg-gray-800 p-4 rounded-lg border border-gray-700">
        <h3 class="text-lg font-semibold text-yellow-300 mb-2">Technologies Used</h3>
        <div class="flex flex-wrap gap-2">
          <span *ngFor="let tech of service.projectMetaData.technologiesUsed" class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 inset-ring inset-ring-green-600/20"> {{ tech }}</span>
          <!-- <span
            *ngFor="let tech of service.projectMetaData.technologiesUsed"
            class="bg-gray-700 text-white text-sm px-3 py-1 rounded-full border border-yellow-500"
          >
            {{ tech }}
          </span> -->
        </div>
      </div>
  
      <!-- Project Purpose -->
      <div class="bg-gray-800 p-4 rounded-lg border border-gray-700">
        <h3 class="text-lg font-semibold text-yellow-300">Project Purpose</h3>
        <p class="text-slate-300 mt-1">
          {{ service.projectMetaData.projectPurpose }}
        </p>
      </div>
  
    </div>
  </section>
 }